<nav class="navbar navbar-default custom-navbar">

<div class="container-fluid">
<div class="navbar-header">
  {{#link-to "home" class="navbar-brand"}} <h5>KeepItFresh </h5>{{/link-to}}
</div>
<ul class="nav navbar-nav pull-right">
  <li> {{#link-to "demo"}} <h5>Demo</h5> {{/link-to}} </li>
  <li> {{#link-to "about"}} <h5>About </h5>{{/link-to}} </li>
</ul>
</div>
</nav>
